.nav {
    text-align: center;
    background-color: lightslategray;
    color: white;
};

.find {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: solid;
};

.day {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 4px;
    border: solid;
}

.m2f {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.m2f div {
    border: solid;
    border-radius: 15px;
    padding: 0 50px 50px 50px;
}

.m2f div h4 {
    font-size: 24px;
    font-weight: bold;
}